<h1>Editing president</h1>

<%= render "form", president: @president %>

<br>

<div>
  <%= link_to "Show this president", @president %> |
  <%= link_to "Back to presidents", presidents_path %>
</div>
